repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
  - repo: local
    hooks:
      - id: format-code
        name: Format code files with Prettier
        entry: bash run_on_code_changed.sh
        language: system
        types_or: [css, html, javascript, json, sass, scss, yaml]
        verbose: true
  - repo: local
    hooks:
      - id: format-data
        name: Format JSON data files
        entry: bash run_on_data_changed.sh
        language: system
        types: [json]
        verbose: true
