* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  padding: 40px 24px;
  transition: background-color 0.5s ease-in-out;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    &__title img {
      display: block;
      max-width: 100%;
      height: auto;
    }
    &__subtitle {
      font-size: 2rem;
      text-align: center;
      color: var(--text-color);
      font-weight: 400;
      transition: color 0.5s ease-in-out;
    }
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $primary-500;
}
::-webkit-scrollbar-track {
  background: $gray-100;
}
html {
  font-size: 62.5%;
}
.fav__button {
  font-size: 2.5rem;
  width: 24px;
  cursor: pointer;
  color: var(--fav-button-color);
}
.search {
  margin: 30px 0;
  width: 100%;

  .searchbar {
    background-color: var(--searchbar-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    width: 100%;

    &__icon {
      width: 24px;
      height: 24px;
      fill: $gray-500;
    }
    &__input {
      font-family: "Roboto", sans-serif;
      border: none;
      border-radius: 4px;
      background-color: transparent;
      padding: 4px;
      flex: 1;
      color: var(--searchbar-text-color);
      font-size: 2rem;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }
}
.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  float: right;
}
.filter_label {
  font-size: 2rem;
  transition: color 0.5s ease-in-out;
}
#tags-filter {
  background-color: var(--tags-filter-background-color);
  border: 2px solid $primary-500;
  border-radius: 4px;
  padding: 8px;
  color: var(--tags-filter-text-color);
  font-size: 2rem;

  &:focus {
    outline: none;
  }
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  margin: 48px 0;
}
.msg {
  font-size: 20px;
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .collumn-1 {
    img {
      background-color: $primary-500;
      border-radius: 10px;
      height: 350px;
      width: 350px;
    }
    a {
      text-align: left;
      font-size: 10px;
      padding: 10px;
      color: $primary-700;
    }
  }
  .collumn-2 {
    p {
      padding: 10px;
    }
    a {
      text-decoration: none;
      color: $primary-400;
    }
  }
}
.card {
  width: 20%;
  flex-grow: 1;
  max-height: 300px;
  min-height: 300px;
  overflow: auto;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--card-background-color);
  box-shadow: rgba(35, 35, 38, 0.2) 0px 0px 16px;
  display: list-item;
  list-style-type: none;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  &__title {
    color: var(--card-title-color);
    font-size: 2.4rem;
  }
  &__description {
    color: var(--card-description-color);
    line-height: 160%;
    font-size: 1.8rem;
  }
  &__content {
    margin-top: 16px;
  }
  &__code {
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    color: $white;
    background-color: $primary-500;
    font-size: 1.4rem;
    font-style: italic;
  }
}
.github-corner {
  color: var(--background-color);
  fill: $primary-500;

  svg {
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    transform: scale(-1, 1);
    width: 80px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .msg {
    width: 100%;
    flex-direction: column;
  }
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    max-height: 250px;
    min-height: 250px;
  }
}



:root {
  #change-theme-button {
    .ph-desktop {
      display: inline;
    }
    .ph-moon {
      display: none;
    }
    .ph-sun {
      display: none;
    }
  }
}

.button {
  background-color: $primary-500;
  color: $white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  min-height: 36px;
  min-width: 68px;

  & i {
    font-size: 1.4rem;
  }
}

.button-change-theme {
  @extend .button;
  top: 20px;
  right: 20px;
}

.button-change-language {
  @extend .button;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-right: 10px;
  top: 20px;
  right: 85px;
}

.button-change-language:hover {
  background-color: $primary-400; 
  color: $white; 
}

.language-dropdown {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: $primary-500; 
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.language-dropdown li {
  border-bottom: 1px solid $primary-400; 
}

.language-dropdown li:last-child {
  border-bottom: none; 
}

.language-dropdown li a {
  display: block;
  padding: 10px 20px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

.language-dropdown li a:hover {
  background-color: $primary-400; 
  color: $white;
}

.button-change-language:hover .language-dropdown {
  display: block;
}

