.cookies-message {
  margin: 10px 0px;
  font-size: 1.6rem;
  text-align: center;
  color: var(--cookies-text-color);
}
.cookies-container {
  position: fixed;
  width: 100%;
  bottom: 20px;
  z-index: 1000;
  display: none;
}
.cookies-content {
  box-shadow: 0 1px 5px #6e6197;
  background-color: var(--cookies-background-color);
  border: 1px solid #6e6197;
  max-width: 50%;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(1rem);
  animation: slideUp 0.5s forwards;

  a {
    color: var(--cookies-link-color);
  }
}
.cookies-accept-button {
  background-color: #6e6197;
  color: #fff;
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}
@keyframes slideUp {
  to {
    transform: initial;
    opacity: initial;
  }
}
