html[data-theme="dark"] {
  --background-color: #{$black};
  --button-background-color: #{$primary-500};
  --button-background-hover-color: #{$primary-400};
  --button-text-color: #{$white};
  --card-background-color: #{$gray-700};
  --card-description-color: #{$white};
  --card-title-color: #{$primary-100};
  --cookies-background-color: #{$gray-700};
  --cookies-link-color: #{$primary-100};
  --cookies-text-color: #{$white};
  --fav-button-color: #{$white};
  --link-color: #{$primary-300};
  --scroll-bar-background-color: #{$gray-700};
  --searchbar-background-color: #{$gray-700};
  --searchbar-text-color: #{$white};
  --tags-filter-background-color: #{$gray-700};
  --tags-filter-text-color: #{$white};
  --text-color: #{$white};
}
html[data-theme-setting="dark"] {
  #change-theme-button {
    .ph-desktop {
      display: none;
    }
    .ph-moon {
      display: inline;
    }
    .ph-sun {
      display: none;
    }
  }
}
