$black: #232226;
$blue: #0000ff;
$white: #ffffff;

$gray-700: #3e3e3f;
$gray-500: #9698a0;
$gray-300: #cccccc;
$gray-100: #f2f2f2;

$primary-900: #1a1248;
$primary-800: #281e57;
$primary-700: #3c306c;
$primary-600: #534681;
$primary-500: #6e6197;
$primary-400: #9a8cc0;
$primary-300: #bdafdf;
$primary-200: #dcd1f4;
$primary-100: #eee7f9;
