---
# Only the main Scss file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"), "variables", "base", "cookies", "dark_theme",
  "light_theme";
