@import url(var.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.header__title img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__subtitle {
  font-size: 1.5rem;
  text-align: center;
  color: var(--gray-500);
  font-weight: 400;
  max-width: 70%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.searchbar {
  background-color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 5px;
  padding: 16px;
  margin: 30px 0;
  width: 80%;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.searchbar__icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--gray-500);
}

.searchbar__input {
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  padding: 4px;
  flex: 1;
  color: var(--purple-500);
  font-size: 1rem;
}

.searchbar__input:focus {
  outline: none;
}

.card {
  width: 300px;
  min-height: 200px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
  display: list-item;
  list-style-type: none;
}

.card__title {
  color: var(--purple-500);
  margin-bottom: 16px;
}

.card__description {
  color: var(--gray-500);
}

.card__content {
  margin-top: 16px;
}

.card__code {
  padding: 5px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--purple-500);
  font-size: 0.75rem; /* pra caber no card e não quebrar linha */
}
