:root {
  --light-green: #5e9188;
  --dark-green: #3e5954;
  --dark-blue: #253342;
  --black: #232226;
  --white: #ffffff;
  --purple-500: #6e6197;
  --gray-500: #9698a0;
  --gray-300: #cccccc;
  --gray-100: #f2f2f2;
}
