name: json-yaml-validate
on:
  push:
    branches:
      - main
    paths:
      - "_data/**"
  pull_request:
    paths:
      - "_data/**"
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write # enable write permissions for pull request comments

jobs:
  json-yaml-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - name: json-yaml-validate
        id: json-yaml-validate
        uses: GrantBirki/json-yaml-validate@v3.2.1 # replace with the latest version
        with:
          base_dir: _data # base directory to search for files
          comment: "true" # enable comment mode
